<footer>
        <div class="social-links">
                <a class="link-
                          external-link"
                                        href="https://www.dropbox.com/s/pe0zt1884g53pap/resume.pdf?dl=0">резюме</a>
                <a class="link-
                   external-link" href="https://github.com/geravolobuev/">гит</a>
                <a data-uuid="257b5fa7-33c6-460f-b7dd-f9fbe848f66b" class="link-
                                                                    external-link" href="mailto:fromgayva@gmail.com" target=""
                                                                                  data-mce-class="link-1">почта</a>
        </div>
</footer>
