<footer>
        <div class="social-links">
        <a class="link-
                  external-link" href="https://www.instagram.com/georgevolobuev/>инста</a>
        <a class="link-
                  external-link" href="https://github.com/geravolobuev/">гит</a>
        <a data-uuid="257b5fa7-33c6-460f-b7dd-f9fbe848f66b" class="link-
                      external-link" href="mailto:fromgayva@gmail.com" target=""
                                                                       data-mce-class="link-1">почта</a>
        </div>
        <span>гера волобуев, 2020<span>

</footer>
