<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,700&display=swap');

* {box-sizing: border-box;}
body, HTML {
font-family: 'Helvetica-neue', sans-serif;
cursor: url(/assets/cursor.svg), auto;
 scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
    margin: 0;
background: #FAFAFA;
 overflow: overlay;
}

.ast-pink {
            color: #ff2587;
}

.wrapper-portfolio {
        background: black;
        color: white;
}

    .portfolio {
            padding: 2rem;
    }

#canvas {
z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

    a {
            color: black;
            text-decoration: none;
    }

.ul-links > li:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, 3px) rotate(-1deg); }
}

    h2 {
            font-size: 2.9rem;
            font-weight: normal;
            margin-bottom: 10%;
    }

    blockquote {
            margin: 0;
            color:gray;
    }

    main {
            font-size: 2.9rem;
    line-height: 3.3rem;
            position: relative;
    z-index: 10;
    padding: 2rem;
    }
    

    .portfolio-header {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: ". .";
  min-height: 25rem;
    }

    article {
max-width: 1120px;
}

    .mark {
background-image: linear-gradient(120deg,#ff0,#ff0);
    background-repeat: no-repeat;
    background-size: 100% .55em;
    background-position: 0 110%;
    }

    .portfolio-link {
color: white;
    }

.preview { 
display: none;
    opacity: 0.7;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    pointer-events: none;
    position: fixed;
    bottom: 0;
    right: 0;
filter: grayscale(1);
}

.social-links {
    position: fixed;
    bottom: 3%;
right: 1%;
}

.social-links > a {
  border-radius: 25px;
background: #FAFAFA;
font-family: 'Noto Serif Display', serif;
font-weight: 200;
box-shadow: 1px 1px 1px lightgray;
text-align: center;
}

.social-links > a:hover {
color: blue;
box-shadow: 10px 5px 5px blue;
}

.link:hover .preview { display: inline-block; }

    .ul-links{
            list-style: none;
            padding: 0 1rem 0 0;
            margin: 0;
    }

    .ul-links__p {
            margin-bottom: 0;
    }

	.myphoto {
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
display: none;
}

.myphoto-photo {
width: 20vw;
}

.about-left-logo:hover + .myphoto {
    display: block;
}


    .about_text{
            margin:0;
    }


    .lowercased {
            text-transform: lowercase;
    }

    img, video {
            margin: 1rem 0;
    -ms-interpolation-mode: nearest-neighbor;
    width: calc(100vw - 100px);
    max-height: 810px;
    max-width: 810px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top left;
    object-position: top left;
    }

    @media only screen and (max-width: 600px) {
.social-links {
display: grid
}
    main {
            font-size: 1.9rem;
    line-height: 2.3rem;
            position: relative;
    z-index: 10;
    padding: 2rem;
    }
img, video {
    max-height: 80%;
    max-width: 80%;
    }
    h2 {
            font-size: 1.9rem;
    }
        }
::-webkit-scrollbar {
    width: 50px;
    margin: 0 2px 0 0;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #1a2151;
    border-radius: 100px
}

::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 100px;
    display: none;
}
}

</style>
