<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    {% include styles.html %}
    {% seo %}
</head>

<body>
        <div class="wrapper">
        <main class="lowercased">
                <section class="about">
                        <div class="about-left">
        <p class="about_text">гера волобуев<br>
        дизайнер
        </p>
                        </div>
                        <div class="about-right">
        <a href="/en">en</a>
                        </div>
        </section>

                <section class="projects">
            {% include feed-projects.html %}
                </section>

                <section class="posts">
            {% include feed-posts.html %}
                </section>
    {% include footer.html %}
            </main>
<canvas id="canvas">Canvas is not supported
        on this browser!</canvas>
        <script>

document.addEventListener("mouseup", mouseEvent);
document.addEventListener("mousedown", mouseEvent);
document.addEventListener('mousemove', mouseEvent);

const mouse = {x: 0, y: 0, down: "forcedown"};  // starts with mouse down
function mouseEvent(event) {
      const bounds = canvas.getBoundingClientRect();
      const x = event.pageX - bounds.left - scrollX;
      const y = event.pageY - bounds.top  - scrollY;
    if (event.type === "mousedown" || mouse.down === "forcedown") {
        mouse.down = true 
        mouse.x = x;
        mouse.y = y;
    }
    if (event.type === "mouseup") { mouse.down = false }
    if (mouse.down) {    
        ctx.beginPath()
        ctx.lineTo(mouse.x, mouse.y);
        ctx.lineTo(mouse.x = x, mouse.y = y);
        ctx.stroke();
    }
}


const ctx = canvas.getContext('2d');
 var width  = window.innerWidth;
        var height = window.innerHeight;
        canvas.height = height;
        canvas.width = width;

const colorsArray = ["#e38ea5", "#f4e78f", "#a4e38e", "#f1c39e", "#cbb7dd",
"#e79ef1"];
ctx.strokeStyle = colorsArray[Math.random() * colorsArray.length | 0];
            var lineWidth = Math.floor(Math.random()*300 + 20);
            ctx.lineWidth = lineWidth;
ctx.lineCap = ctx.lineJoin = 'round';

                </script>
        </div>
</body>

</html>
