<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta.html %}
    {% include styles.html %}
</head>
<body>

        <div class="grid-container grid-container__post">
            <div class="project">  
                    <div class="internal-wrapper">
        <div class="project-video-wrapper">
        <video width="100%" autoplay="true" playsinline="" loop="true" muted="true\">
                <source src="{{ page.video }}" type="video/mp4"> </video>
        </div>
        <p class="project-title">{{ page.title }}</p>
            {{ content }}
                    </div>
        </div>
        </div>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>

